/* Universal */
*{
    margin: 0;
    padding: 0;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: none;
    border-radius: 8px;
    background: #F00;
}
.txt-primary{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
/* banner related style */
.banner{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
  
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/media/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    
    color: #FFF;
    font-family: Merriweather;
}

.banner-content h4 {
    padding: 170px 530px 20px 530px;
    font-size: 32px;
    font-weight: 400;
}
.banner-content h2{ 
    padding: 5px 344px;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
/* ---------------Banner er shathe breakup---------------------- */

/* ---------------New Year Section start------------------------- */

.discount {
    align-items: center;
    justify-content: center;
}
.discount-content{
    margin-top: 70px;
    text-align: center;
    font-family: Inter;

    
}
.discount-content h2{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.discount-content p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}
.discount-content h4{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.discount img{
    margin-left: 550px;
}

/* -----------------Party Section-------------------- */

.party{
    width: 1320px;
    height: 600px;
    margin: 100px auto;
  
    display: flex;

    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/media/Vectorrr.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    
    align-items: center;

}

.party-content{
    width: 55%;
    padding-left: 120px;
    color: #FFF;
}
.party-image{
    height: 465px;
    width: 320px;
}
.party-content h1{
    
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-bottom: 12px;
}
.party-content p{
    
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.party-content a{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding-left: 50px;
}

/* -------------------vanue-------------------- */

.vanue{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    
    justify-content: center;
    text-align: center;
}

.vanue-content{
    padding: 100px ;
    
}

.vanue-content p{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

/* -------------------Offers--------------- */

.offer-container{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    font-family: Inter;
    align-items: center;
    justify-content: center;
}
.offer-container-left{
    width: auto;
    padding-right: 100px;
}
.offer-container-middle{
    padding-left: -100px;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
}
.offer-container-right{
    padding-left: 100px;
}

.offer-container-left h4{
    color: #F00;
    font-family: Inter; 
    font-size: 24px;
    font-weight: 500;
}
.offer-container-left h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.offer-container-left p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.offer-container-middle img{
    padding: 50px;
}
.offer-container-right h3{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.offer-container-right p{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 20px;
}

/* ------------------Holiday Sale------------- */

.holiday-sale{
    margin-bottom: 100px;
}
.hoiday-sale-content{
    text-align: center;
    font-family: Inter;
    margin-bottom: 100px;
    align-items: end;
}
.hoiday-sale-content h5{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
.hoiday-sale-content h1 span{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.hoiday-sale-content h1{
    margin-bottom: 30px;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.hoiday-sale-content p{

    color: rgba(7, 2, 17, 0.60);
    width: 1068px;
    padding-left: 500px;
    padding-right: 500px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; 
    margin-bottom: 30px;
}

.discount-image{
    background: url('/media/Rectangle\ 1.png');
    background-repeat: no-repeat;
    margin-left:1150px ;
    width: 429px;
    height: 433px;
}
.i2{
    margin-left: -150px;
    padding-top: 60px;
}

.gift-box{
    background: url('/media/Rectangle\ 2.png');
    background-repeat: no-repeat;
    margin-left:259px;
}
.box{
    margin-top: -430px;
}

/* -----------Portfolio showcase-------- */

.portfolio{
    width: 1340px;
    height: auto;
    margin: 50px auto;

    justify-content: center;
}

.portfolio-content h4{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    align-items: center;
}
.portfolio-content h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.portfolio-content p{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px; 
}
.image-raw img{
    margin: 10px 10px;
}
.image-raw img:nth-child(1){
    margin-left:  0px;
}

/* -------------------Portfolio Added-------------------- */

/* -------------in a relationship with Newsletter----------- */

.newsletter{
    width: 1340px;
    height: 616px; 
    margin: 120px auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    align-items: center;
}

.newsletter img{
    align-items: center;
    padding: 80px 585px;
    padding-bottom: 40px;
}

.newsletter-content {
    text-align: center;
}
.newsletter-content h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}
.newsletter-content p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    margin-bottom: 60px;
    width: 900px;
    padding-left: 220px;
    font-size: 20px;
    font-weight: 400;
}
.mail-box{
    align-items: center ;
    display: flex;
    width: 648px;
    margin: 50px 350px;
}
.mail-box input{
    margin: 0;
    width: 500px;
    height: 42px;
    border-radius: 50px 0px 0px 50px;
    border: 0;
    background: white;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 30px;
}
.mail-box button{
    width: 150px;
    height: 82px;
    padding: 25px 30px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

/* --------------------Footer started----------------------*/

.footer{
    width:auto;
    height: 609px;
    background: #070211;
}
.hr{
    width: 1320px;
}
.footer-content{
    padding-top: 80px;
    margin: 0 auto;
    color: #FFF;
    display: flex;
    width: 1320px;
    justify-content: space-between;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
hr{
    width: 1320px;
    color: rgba(255, 255, 255, 0.15);  
    /* I was unable to manage the line color  */
    height: 0%;
    margin: 50px auto;
}
.footer-content img{
    margin-right: 20px;
}

.footer-icon{
    margin-top: 50px;
    margin-left: 800px;
    display: flex;
}

.footer-icon img{
    margin-right: 24px;
}

