
/* banner related style */
/* header{
    align-items: center;
} */

*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
  
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/media/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    
    color: #FFF;
    font-family: Merriweather;
    

}

.banner-content h4 {
    padding: 170px 530px 20px 530px;
    font-size: 32px;
    font-weight: 400;
}
.banner-content h2{ 
    padding: 5px 344px;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
