/* Universal */
*{
    margin: 0;
    padding: 0;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: none;
    border-radius: 8px;
    background: #F00;
}
.txt-primary{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
/* banner related style */
.banner{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
  
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/media/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    
    color: #FFF;
    font-family: Merriweather;
}

.banner-content h4 {
    padding: 170px 530px 20px 530px;
    font-size: 32px;
    font-weight: 400;
}
.banner-content h2{ 
    padding: 5px 344px;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
/* ---------------Banner er shathe breakup---------------------- */

/* ---------------New Year Section start------------------------- */

.discount {
    align-items: center;
    justify-content: center;
}
.discount-content{
    margin-top: 70px;
    text-align: center;
    font-family: Inter;

    
}
.discount-content h2{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.discount-content p{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}
.discount-content h4{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.discount img{
    margin-left: 550px;
}

/* -----------------Party Section-------------------- */

.party{
    width: 1320px;
    height: 600px;
    margin: 100px auto;
  
    display: flex;

    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/media/Vectorrr.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    
    align-items: center;

}

.party-content{
    width: 55%;
    padding-left: 120px;
    color: #FFF;
}
.party-image{
    height: 465px;
    width: 320px;
}
.party-content h1{
    
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-bottom: 12px;
}
.party-content p{
    
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.party-content a{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding-left: 50px;
}

/* -------------------vanue-------------------- */

.vanue{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    
    justify-content: center;
    text-align: center;
}

.vanue-content{
    padding: 100px ;
    
}

.vanue-content p{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

/* -------------------Offers--------------- */

.offer-container{
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    font-family: Inter;
    align-items: center;
    justify-content: center;
}
.offer-container-left{
    width: auto;
    padding-right: 100px;
}
.offer-container-middle{
    padding-left: -100px;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
}
.offer-container-right{
    padding-left: 100px;
}

.offer-container-left h4{
    color: #F00;
    font-family: Inter; 
    font-size: 24px;
    font-weight: 500;
}
.offer-container-left h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.offer-container-left p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.offer-container-middle img{
    padding: 50px;
}
.offer-container-right h3{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.offer-container-right p{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 20px;
}

